<!-- <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)]="sd" placeholder="Start date">
    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker type="datetime" touchUi="false" #picker></mat-datepicker>
</mat-form-field>
<mat-form-field>
    <input matInput [matDatepicker]="picker1" [(ngModel)]="ed" placeholder="End date">
    <mat-datepicker-toggle matPrefix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker type="datetime" touchUi="false" #picker1></mat-datepicker>
</mat-form-field> -->
<!-- <kyl-kyauto [service]="ds" [widthvalue]="'250px'" [bag]="bag" [p]="'Select device'"></kyl-kyauto> -->
<app-auto [service]="ds" [(obj)]="device" [label]="'Device to display'" [p]="'DEvice'"></app-auto>
<app-datetime [(datetime)]="sd"></app-datetime>
<app-datetime [(datetime)]="ed"></app-datetime>

<button mat-button (click)="showdata()">
  <label i18n>Show value</label>
</button>
<mat-checkbox [(ngModel)]="autoupdate" value="false" color="primary">Autoupdate</mat-checkbox>
PM1:<b>{{totalpm1 |number:'1.1-2'}}</b> Pm10:<b>{{totalpm10 |number:'1.1-2'}}</b> pm2.5:
<b>{{totalpm25|number:'1.1-2'}}</b>
<mat-divider></mat-divider>
Last PM PM1 <b style="color:#3cba9f">{{lastpm1|number:'1.1-2'}}</b> Pm 2.5
<b style="color:#fc3d03">{{lastpm25|number:'1.1-2'}}</b> Pm10 <b style="color:#42f54e">{{lastpm10|number:'1.1-2'}}</b>
<div  class="chart-container">
    <canvas id="canvas"></canvas>
</div>