<mat-form-field>
  <input
    type="text"
    matInput
    [(ngModel)]="pijob.name"
    placeholder="Job name"
    onclick="select()"
  />
</mat-form-field>
<!-- <kyl-kyauto [service]="ds" [bag]="devicebag" [p]="'For Device'" [widthvalue]="'400px'"></kyl-kyauto>
<kyl-kyauto [service]="dss" [bag]="dssensorbag" [p]="'Ds Sensor'" [widthvalue]="'400px'"></kyl-kyauto>
<kyl-kyauto [service]="ds" [bag]="devicedesbag" [p]="'Target Device'" [widthvalue]="'400px'"></kyl-kyauto> -->

<app-auto [service]="ds" [(obj)]="device" [p]="'Device'"></app-auto>
<app-auto
  [service]="dss"
  [(obj)]="devicesensor"
  [p]="'Device sensor'"
></app-auto>
<app-auto [service]="ds" [(obj)]="devicedes" [p]="'Device traget'"></app-auto>

<button mat-button (click)="addsensor()">+</button>
<mat-divider></mat-divider>
<mat-form-field>
  <input
    type="number"
    matInput
    placeholder="T Low"
    [(ngModel)]="pijob.tlow"
    onclick="select()"
  />
</mat-form-field>
<mat-form-field>
  <input
    type="number"
    matInput
    placeholder="T High"
    [(ngModel)]="pijob.thigh"
    onclick="select()"
  />
</mat-form-field>

<mat-form-field>
  <input
    type="number"
    matInput
    placeholder="H Low"
    [(ngModel)]="pijob.hlow"
    onclick="select()"
  />
</mat-form-field>
<mat-form-field>
  <input
    type="number"
    matInput
    placeholder="H High"
    [(ngModel)]="pijob.hhigh"
    onclick="select()"
  />
</mat-form-field>
<mat-form-field>
  <input
    type="number"
    matInput
    placeholder="Time to run"
    [(ngModel)]="pijob.timetorun"
    onclick="select()"
  />
</mat-form-field>

<mat-form-field>
  <input
    matInput
    type="time"
    [(ngModel)]="pijob.stimes"
    placeholder="เวลาเริ่มต้นของวัน"
  />
</mat-form-field>
<mat-form-field>
  <input
    matInput
    type="time"
    [(ngModel)]="pijob.etimes"
    placeholder="เวลาสิ้นสุดของวัน"
  />
</mat-form-field>
<!-- <mat-form-field> -->
<!-- <app-datetime [date]=""></app-datetime> -->
<!-- <input matInput [matDatepicker]="picker" [(ngModel)]="pijob.sdate" placeholder="Start date">
    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker type="datetime" touchUi="false" #picker></mat-datepicker>
</mat-form-field>
<mat-form-field>
    <input matInput [matDatepicker]="picker1" [(ngModel)]="pijob.edate" placeholder="End date">
    <mat-datepicker-toggle matPrefix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker type="datetime" touchUi="false" #picker1></mat-datepicker>
</mat-form-field> -->

<mat-form-field>
  <input
    type="number"
    matInput
    placeholder="Run time (in secound)"
    [(ngModel)]="pijob.runtime"
    onclick="select()"
  />
</mat-form-field>

<mat-form-field>
  <input
    type="number"
    matInput
    placeholder="wait time (in secound)"
    [(ngModel)]="pijob.waittime"
    onclick="select()"
  />
</mat-form-field>
<mat-form-field>
  <input
    type="number"
    matInput
    placeholder="priority"
    [(ngModel)]="pijob.priority"
  />
</mat-form-field>
<!-- <kyl-kyauto [service]="js" [bag]="jobbag" [p]="'Job type'" [widthvalue]="'400px'"></kyl-kyauto>
 -->
<app-auto [service]="js" [(obj)]="jobtype" [p]="'Job type'"></app-auto>
<mat-checkbox [(ngModel)]="pijob.enable" i18n>Enable</mat-checkbox>
<kyl-kyauto
  [service]="pijobgroupservice"
  [bag]="pijobgroupbag"
  [p]="'Job group'"
  [widthvalue]="'250px'"
></kyl-kyauto>
<!-- <kyl-kyauto [service]="pijobgroupservice" [bag]="pijobgroupbag" [p]="'Job group'" [widthvalue]="'250px'"></kyl-kyauto> -->
<app-auto
  [service]="pijobgroupservice"
  [(obj)]="pijobgroup"
  [p]="'Pijob group'"
></app-auto>
<button mat-button (click)="delete(pijob)">
  <label i18n>Delete pijob</label>
</button>

<mat-form-field>
  <textarea
    matInput
    [(ngModel)]="pijob.description"
    placeholder="Description"
    >{{ pijob.description }}</textarea
  >
</mat-form-field>
<mat-form-field>
  <input type="text" matInput [(ngModel)]="pijob.token" placeholder="Token" />
</mat-form-field>
<!-- <kyl-kyauto
  [service]="pjs"
  [bag]="runwithbag"
  [p]="'Run with'"
  [widthvalue]="'400px'"
></kyl-kyauto> -->
<button mat-button (click)="save()" i18n>Save</button>
<table id="customers">
  <tr>
    <td>Enable</td>
    <td>Target</td>
    <td>Port</td>
    <td>Logic</td>
    <td>Run time</td>
    <td>Wait time</td>
    <td>Option</td>
  </tr>

  <tr *ngFor="let p of ports">
    <td>
      <mat-checkbox [(ngModel)]="p.enable" color="primary">Enable</mat-checkbox>
    </td>
    <td>
      <!-- <kyl-kyauto [service]="ds" [p]="'Target'" [(obj)]="p.device" [bag]="p.device"></kyl-kyauto> -->
      <app-auto [service]="ds" [p]="'Traget'" [(obj)]="p.device"></app-auto>
    </td>
    <td>
      <!-- <kyl-kyauto
        [service]="pns"
        [p]="'Portname'"
        [bag]="p.portname"
      ></kyl-kyauto> -->

      <app-auto [service]="pns" [p]="'Port'" [(obj)]="p.portname"></app-auto>
    </td>
    <td>
      <!-- <kyl-kyauto [service]="ls" [p]="'Logic'" [bag]="p.status"></kyl-kyauto> -->
      <app-auto [service]="ls" [p]="'Logic'" [(obj)]="p.status"></app-auto>
    </td>
    <td>
      <mat-form-field>
        <input
          type="number"
          matInput
          placeholder="Run time (in secound)"
          onclick="select()"
          [(ngModel)]="p.runtime"
        />
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input
          type="number"
          matInput
          placeholder="wait time (in secound)"
          onclick="select()"
          [(ngModel)]="p.waittime"
        />
      </mat-form-field>
    </td>
    <td>
      <button mat-button (click)="removeport(p)">
        <mat-icon>remove</mat-icon>
        <label i18n>remove</label>
      </button>
    </td>
  </tr>
</table>
<button mat-button (click)="addport()"><mat-icon>add</mat-icon>Add port</button>
<button mat-button (click)="save()" i18n>Save</button>
<button mat-button (click)="copy()" i18n>Copy</button>

<hr />
<kyl-kyauto
  [service]="ds"
  [bag]="pumpbag"
  [p]="'Pump'"
  [widthvalue]="'400px'"
></kyl-kyauto>
<kyl-kyauto
  [service]="pns"
  [bag]="pbag"
  [p]="'Port '"
  [widthvalue]="'400px'"
></kyl-kyauto>
<button mat-button (click)="addpump()">Add pump</button>
<mat-divider></mat-divider>
<table id="customers">
  <tr>
    <td>Pump</td>
    <td>x</td>
  </tr>
  <tr *ngFor="let p of pumps">
    <td>{{ p.pidevice?.name }}</td>
    <!-- <td>{{p.portname.name}}</td> -->
    <td>{{ p.portname?.name }}</td>
    <td>
      <mat-checkbox [(ngModel)]="p.enable" (click)="enablepumps(p)"
        >enable</mat-checkbox
      >
    </td>
    <td><button mat-button (click)="removepump(p.id!!)">remove</button></td>
  </tr>
</table>

<mat-divider></mat-divider>
<table id="customres" *ngIf="sensors && sensors.length > 0">
  <tr *ngFor="let s of sensors; index as i">
    <td>{{ s.sensor!!.name }}</td>
    <td><button mat-button (click)="removesensor(s.id!!, i)">X</button></td>
  </tr>
</table>
