<div class="nb">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <a href="#/" mat-button>
    <label>{{ title }} {{ env.version }} {{ ws.mobile }}</label></a
  >
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="productgroupsubMenu">
      <mat-icon>important_devices</mat-icon>
      <span i18n>Device group</span>
    </button>

    <mat-menu #productgroupsubMenu="matMenu">
      <button [routerLink]="['/devicegrouplist']" mat-menu-item i18n>
        List devicegroup
      </button>
      <button [routerLink]="['/devicegroupnew']" mat-menu-item i18n>
        New devicegroup
      </button>
    </mat-menu>

    <button mat-menu-item [matMenuTriggerFor]="deviceMenu">
      <mat-icon>devices</mat-icon>
      <span i18n>Device </span>
    </button>

    <mat-menu #deviceMenu="matMenu">
      <button [routerLink]="['/devicelist']" mat-menu-item i18n>
        List device
      </button>
      <button [routerLink]="['/editdeviceconfig']" mat-menu-item i18n>
        Edit deviceconfig
      </button>
      <button [routerLink]="['/devicenew']" mat-menu-item i18n>
        New device
      </button>
      <button [routerLink]="['/ds18sensor']" mat-menu-item i18n>
        Ds sensor list
      </button>
      <button [routerLink]="['/ds18sensornew']" mat-menu-item i18n>
        New Sensor
      </button>
      <button [routerLink]="['/activedevice']" mat-menu-item i18n>
        Active device
      </button>
      <button [routerLink]="['/fwupload']" mat-menu-item i18n>Fw upload</button>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="info">
      <mat-icon>dialpad</mat-icon>
      <span i18n>Info</span>
    </button>

    <mat-menu #info="matMenu">
      <button [routerLink]="['/dhtinfo']" mat-menu-item i18n>DHT info</button>
      <button [routerLink]="['/ds18info']" mat-menu-item i18n>DS18 info</button>
      <button [routerLink]="['/vbattinfo']" mat-menu-item i18n>
        Vbatt info
      </button>
      <button [routerLink]="['/waterinfo']" mat-menu-item i18n>
        Waterinfo
      </button>
      <button [routerLink]="['/pressureinfo']" mat-menu-item i18n>
        Pressure info
      </button>
      <button [routerLink]="['/waterflow']" mat-menu-item i18n>
        Waterflow info
      </button>
      <button [routerLink]="['/devicestatus']" mat-menu-item i18n>
        Device status
      </button>
      <button [routerLink]="['/dssinfo']" mat-menu-item i18n>Ds by last</button>
      <button [routerLink]="['/deviceactive']" mat-menu-item i18n>
        Device active
      </button>
      <button [routerLink]="['/deviceparameter']" mat-menu-item i18n>
        Device parameter
      </button>
      <button [routerLink]="['/dustinfo']" mat-menu-item i18n>dustinfo</button>
      <button [routerLink]="['/loginfo']" mat-menu-item i18n>Log info</button>
      <button [routerLink]="['/distanceinfo']" mat-menu-item i18n>
        Distance info
      </button>
      <button [routerLink]="['/editdeviceconfig']" mat-menu-item i18n>
        Edit deviceconfig
      </button>
      <button [routerLink]="['/co2']" mat-menu-item i18n>co2</button>
    </mat-menu>

    <button mat-menu-item [matMenuTriggerFor]="pijob">
      <mat-icon>add_to_photos</mat-icon>
      <span i18n>Pi Jobs</span>
    </button>

    <mat-menu #pijob="matMenu">
      <button [routerLink]="['/joblist']" mat-menu-item i18n>List job</button>
      <button [routerLink]="['/jobnew']" mat-menu-item i18n>New job</button>
      <button [routerLink]="['/pijobgroupnew']" mat-menu-item i18n>
        New job group
      </button>
      <button [routerLink]="['/pijoblist']" mat-menu-item i18n>
        List pijob
      </button>
      <button [routerLink]="['/pijobnew']" mat-menu-item i18n>New pijob</button>
      <button [routerLink]="['/importpijob']" mat-menu-item i18n>
        Import jobs
      </button>
      <button [routerLink]="['/exportpijob']" mat-menu-item i18n>
        Export jobs
      </button>
      <button [routerLink]="['/directio']" mat-menu-item i18n>direct io</button>
      <button [routerLink]="['/zonelist']" mat-menu-item i18n>Zone list</button>
    </mat-menu>

    <button mat-menu-item [matMenuTriggerFor]="port">
      <mat-icon>call_split</mat-icon>
      <span i18n>Ports</span>
    </button>
    <button [routerLink]="['/directio']" mat-menu-item i18n>
      <mat-icon>swap_horiz</mat-icon>
      direct io
    </button>

    <mat-menu #port="matMenu">
      <button [routerLink]="['/portlist']" mat-menu-item i18n>
        List ports
      </button>
      <button [routerLink]="['/portnew']" mat-menu-item i18n>New port</button>
      <button [routerLink]="['/logicnew']" mat-menu-item i18n>New logic</button>
      <button [routerLink]="['/logiclist']" mat-menu-item i18n>
        List logic
      </button>
    </mat-menu>

    <!-- 
      <button mat-menu-item [routerLink]="['/changepassword']">
    <mat-icon>fingerprint</mat-icon>
    <label i18n>Change password</label>
  </button> -->

    <!-- <button mat-menu-item id="newuser" *ngIf="auth.admin()" routerLink="/userreg">
    <mat-icon>person_add</mat-icon>
    <label i18n>Register</label>
  </button> -->
    <button mat-menu-item id="timetosec" routerLink="/timetosec">
      <mat-icon>alarm</mat-icon>
      <label i18n>Time to sec</label>
    </button>
    <button mat-menu-item id="device detail" routerLink="dd">
      <mat-icon>info</mat-icon>
      <label i18n>Device detail</label>
    </button>
    <!-- <button mat-menu-item id="userlist" *ngIf="auth.admin()" routerLink="/userlist">
    <mat-icon>group</mat-icon>
    <label i18n>List user</label>
  </button> -->

    <!-- <button mat-menu-item *ngIf="auth.loggedIn()" [routerLink]="['/logout']">
      <mat-icon>call_made</mat-icon>
      <label i18n>Logout</label>
    </button> -->
  </mat-menu>
</div>

<div class="main">
  <router-outlet></router-outlet>
</div>
