<!-- <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)]="sd" placeholder="Start date">
    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker type="datetime" touchUi="false" #picker></mat-datepicker>
</mat-form-field>
<mat-form-field>
    <input matInput [matDatepicker]="picker1" [(ngModel)]="ed" placeholder="End date">
    <mat-datepicker-toggle matPrefix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker type="datetime" touchUi="false" #picker1></mat-datepicker>
</mat-form-field> -->

<label>Start date:</label><app-datetime [(datetime)]="sd"></app-datetime> - 
<app-datetime [(datetime)]="ed"></app-datetime>

<kyl-kyauto
  [service]="ds"
  [widthvalue]="'250px'"
  [bag]="bag"
  [p]="'Select device'"
></kyl-kyauto>
<button mat-button (click)="showdata()">
  <label i18n>Show value</label>
</button>
<mat-checkbox [(ngModel)]="autoupdate" value="false" color="primary"
  >Autoupdate</mat-checkbox
>

<h4>
  T:{{ ot }} H:{{ oh }} T min/max:{{ tmin }}/{{ tmax }} H min/max {{ hmin }}/{{
    hmax
  }}
</h4>
<div style="height: 550px">
  <canvas
    baseChart
    [data]="lineChartData"
    [options]="lineChartOptions"
    [type]="lineChartType"
  >
  </canvas>
</div>
